@media (max-width: 576px) {

    .main-sale-place{
        margin-left: 3%;
        margin-right: 3%;
    }

}
.soon_title{
    text-align: center;
    color: rgb(216, 54, 36);
    font-size: 40px;
    font-weight: 700;
    
    
}

.youtube-video {
    aspect-ratio: 16 / 9;
    width: 100%;
    margin-bottom: 10px;
  }