
.volg-gerb{
    width: 30px;
    margin: 4px;

}
.h-five{
    display: inline-block;
    margin-right: 5px;

}
.redLink{
        color: #9c0505!important;
}
.nav_sales_link{
    color: #f7462c;
    
}
.nav_charity_link{ 
    color: #048e14;
}
.nav_events_link{
    color: #1b80f4;
    
}
.nav_avito_link{
    color: #e18f01;
}
.nav_real_link{
    color: #f613c5;

}
.header_nav{
    font-weight: 600;
    text-transform: uppercase;
    white-space: nowrap;
}