
.filter-wrap{
    margin: auto;
    text-align: center;

}
.span-aten{
    color:rgb(158, 55, 36);
    
}
.alert-p{
    width: 60%;
    font-size: 19px;
    margin:auto;
}
.alert-img{
    width: 150px;
    margin: auto;
}
// .publish-button{

//     margin-left: 3px!important;
//     margin-right: 3px!important ;
// }
.conditions_par{
    font-size: 12px;
}
// .create_row{
//     justify-content: center;
// }
.spinner_center{
    text-align: center
}
.spinner_center > .spinner-border {
    margin-top: 25%;
}