.card-user_cab {
    border: 1px solid black;
    margin: auto;
    width: 100%;
    background-color: #c5c5c5;
    position: relative;
}
.card-user_cab:before {
    content: '';
    display: block;
    padding-top: 100%;
}
.back_wrap_new {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    // display: flex;
}
.card_img-user_cab {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.wrap_insert_image {
    border: 1px solid black;
    margin: auto;
    width: 80%;
    background-color: #c5c5c5;
    position: relative;
}
.wrap_insert_image:before {
    content: '';
    display: block;
    padding-top: 100%;
}
.insert_image {
    max-width: 100%;
    max-height: 100%;
}

#mail-spinner {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
}
#mail-spinner > .spinner-border {
    margin-top: 45vh;
}
.card{
    position: relative;
}
.ad_category_title{
    padding: 2px;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
}
.ad_category_title_sales{
    background-color: #f7462c;
}
.ad_category_title_charity{ 
    background-color: #048e14;
}
.ad_category_title_events{
    background-color: #1b80f4;
    
}
.ad_category_title_avito{
    background-color: #e18f01;
}
.ad_category_title_real{
    background-color: #f613c5;
}