.note-reg{
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    margin-top: 5px;

}
.wrapper-login-form{
    width: 100%;

}
.login-form{
    width: 90%;
    max-width: 800px;
    margin: auto;
    margin-top: 25px;
    border-radius: 20px;
    border: 1px solid black;
    padding: 18px;
    
}
.social-icons{
    margin: auto;
    margin-top: 20px;
    text-align: center;
}
.company-link-wrap{
    text-align: right;
}
.link-company{
    margin-top: 20px;
}
@media (max-width: 576px) {

    .main-sale-place{
        margin-left: 3%;
        margin-right: 3%;
    }
    .login-form{
        width: 96%;
    }
}


